body{
	font-family: 'Roboto Slab', serif;
	background: url(fon.jpg);
	background-size: 100%; 
}
h1{
	text-align: center;
	text-decoration: underline; 

}
h2{
	text-align: center;
}
h3{
	text-align: center; 
}
p{
	background: #A0B3C1;
}
.a{
	text-decoration: none;
	color: white;
	background:  #A0B3C1;
	font-size: 17px;
}

.img{
	width: 40%;
	height: 400px;
	margin-left: 30%; 
	margin-top: 2%; 
}
.card{
	width: 400px;
	height: 191px;
	text-align: center;
	margin-left: 37%;
	background: #B3BCC1;
	border: 6px solid #91ABC2;
	color: white;
}

nav{
	text-align: center;
}
.a:hover{
	background: #8598A6
}
.fot{
	font-size: 10px;
	text-align: center;

}
.fott{
	width: 40px;
	height: 40px;
}
.u{
	color: grey;
	margin-left: 40%;
	font-size: 15px;
}
.up{ 
	width:80px;   
	position:fixed;  
	bottom:50px;   
	right:50px;  	
}
.button {
    background-color: #8598A6;
    border: none;
    color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.button:hover {
    background-color: white;
    color: #8598A6;
}